# ==========================================
# DOCKERIGNORE - ROOT PROJECT
# ==========================================

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Documentação
*.md
docs

# Arquivos de sistema
.DS_Store
Thumbs.db
